# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Gnomoria Files
Gnomoria.exe
gnomorialib.dll
SevenZipSharp.dll
7z.dll
Gnomoria Enhanced_TemporaryKey.pfx
*.suo
*.user
Build